@model PagedList.IPagedList<SuperWare.Models.Customer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

    <h2>List Customers</h2>

<p>
    @*@Html.ActionLink("Create New", "Create", new { @class = "btn btn-default" })*@
    <a class="btn btn-primary" style="margin:10px" href='@Url.Action("Create", "Customer")'><i class="fa fa-plus"></i> Add New</a>
</p>
<div class="container">
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                Customer ID
            </th>
            <th>
                @Html.ActionLink("Customer's Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                @Html.ActionLink("Time Created at", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            <a class="btn btn-success" href='@Url.Action("Edit", "Customer")\@item.CustomerID'><i class="fa fa-pencil"></i> Edit</a>
            <a class="btn btn-default" href='@Url.Action("Details", "Customer")\@item.CustomerID'><i class="fa fa-info"></i> Details</a>
            <a class="btn btn-danger" href='@Url.Action("Delete", "Customer")\@item.CustomerID'><i class="fa fa-trash"></i> Delete</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeCreated)
        </td>

    </tr>
        }

    </table>
</div>
@if (Model.Count() == 0)
{
    <p style="text-align:center"><strong>No data found</strong></p>
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
